{% extends "base.html" %}
{% block title %} Homepage erreur 404 {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
				<pre>


       444444444            000000000                 444444444                  !!!!!!
      4::::::::4          00:::::::::00              4::::::::4                 !!!::!!!
     4:::::::::4        00:::::::::::::00           4:::::::::4                 !!::::!!
    4::::44::::4       0:::::::::::::::::0         4::::44::::4                 !!::::!!
   4::::4 4::::4       0::::::00000::::::0        4::::4 4::::4                 !!::::!!
  4::::4  4::::4       0:::::0     0:::::0       4::::4  4::::4                 !!::::!!
 4::::4   4::::4       0:::::0     0:::::0      4::::4   4::::4                 !!::::!!
4::::444444:::::444    0:::::0     0:::::0     4::::444444:::::444              !!::::!!
4:::::::::::::::::4    0::::::00000::::::0     4:::::::::::::::::4              !!::::!!
44444444444:::::444    0:::::::::::::::::0     444444444444::::444              !!::::!!
          4::::4        00:::::::::::::00                 4::::4                !!::::!!
          4::::4          00:::::::::00                   4::::4                !!::::!!
          444444            000000000                     444444                !!::::!!
                                                                                !!!::!!!
 _   _       _      __                       _                                   !!!!!!
| \ | | ___ | |_   / _| ___  _   _ _ __   __| |
|  \| |/ _ \| __| | |_ / _ \| | | | '_ \ / _` |                                  !!!!!!
| |\  | (_) | |_  |  _| (_) | |_| | | | | (_| |                                 !!::::!!
|_| \_|\___/ \__| |_|  \___/ \__,_|_| |_|\__,_|                                  !!!!!!

				</pre>
            </h4>
            <main class="site-content">

                <strong>Please learn to write correct links, you're just dumb !! Or maybe you're named Maccaud.</strong><br>

                <pre>Le serveur n'a pas trouvé la ressource demandée. Ce code de réponse est principalement connu pour son apparition fréquente sur le web.<br>
					Pour encore plus de codes d'erreurs...</pre>
                <br>
                <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Status" target="_blank">https://developer.mozilla.org/fr/docs/Web/HTTP/Status</a>
                </p>
            </main>
        </div>
    </div>
</div>
{% endblock %}
