<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Woaw<span class="small"><br><a href="https://vogonselectriques.net" target="_blank">OM vu par le Module 104 ou l'inverse.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">
                <p>Oh une date automatique !</p>
                <SCRIPT LANGUAGE="JavaScript">
                    var maintenant=new Date();
                    var jour=maintenant.getDate();
                    var mois=maintenant.getMonth()+1;
                    var an=maintenant.getFullYear();
                    document.write("Nous sommes le ",jour,"/",mois,"/",an,".");
                </SCRIPT>
            </div>
        </div>
  </div>
</footer>
