<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-">
                <p>Oh une date automatique !</p>
                <SCRIPT LANGUAGE="JavaScript">
                    var maintenant=new Date();
                    var jour=maintenant.getDate();
                    var mois=maintenant.getMonth()+1;
                    var an=maintenant.getFullYear();
                    document.write("Nous sommes le ",jour,"/",mois,"/",an,".");
                </SCRIPT>
            </div>
        </div>
  </div>
</footer>
