{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouvel enregistrement
			</p>
			<form id="form" action="{{ url_for('customer_ajouter') }}" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.first_name.label }}<br>
						{{ form.first_name(size=32 , class="form-control form-control-lg is-invalid text-light bg-dark" if form.first_name.errors else "form-control form-control-lg bg-dark text-light") }}<br>
						{% for error in form.first_name.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
					<p>
						{{ form.last_name.label }}<br>
						{{ form.last_name(size=32 , class="form-control form-control-lg is-invalid bg-dark text-light" if form.last_name.errors else "form-control form-control-lg bg-dark text-light") }}<br>
						{% for error in form.last_name.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
					<div class="form-group">
						<label for="secteur">Choisis ton Secteur</label>
						<select class="form-control-lg form-control text-light bg-dark" id="secteur" name="secteur">
							<option value="placeholder" hidden selected></option>
							{% for row in secteurs %}
								<option value="{{ row.id_sector }}">{{ row.name_sector }}</option>
							{% endfor %}
						</select><br>
					</div>
					<p>
						{{ form.phone_customer.label }}<br>
						{{ form.phone_customer(size=32 , class="form-control form-control-lg is-invalid bg-dark text-light" if form.phone_customer.errors else "form-control form-control-lg bg-dark text-light") }}<br>
						{% for error in form.phone_customer.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
					<p>
						{{ form.personal_number_customer.label }}<br>
						{{ form.personal_number_customer(size=32 , class="form-control form-control-lg is-invalid bg-dark text-light" if form.personal_number_customer.errors else "form-control form-control-lg bg-dark text-light") }}<br>
						{% for error in form.personal_number_customer.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
					<p>
						{{ form.location.label }}<br>
						{{ form.location(size=32 , class="form-control form-control-lg is-invalid bg-dark text-light" if form.location.errors else "form-control form-control-lg bg-dark text-light") }}<br>
						{% for error in form.location.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
				</div>
			</form>
					<input class="btn btn-outline-info" type="submit" form="form" value="Enegistrer">
					<a type="button" onclick="history.back(-1)" class="btn btn-outline-danger">Annuler</a>
		</div>
	</div>
</div>
{% endblock %}

