{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Ajouter un nouvel enregistrement
            </p>
            <form action="{{ url_for('genre_ajouter') }}" id="form" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <p>
                        {{ form.sn.label }}<br>
                        {{ form.sn(size=32 , class="form-control form-control-lg is-invalid bg-dark text-light" if
                        form.sn.errors else "form-control form-control-lg bg-dark text-light") }}<br>
                        {% for error in form.sn.errors %}
                        <span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <div class="form-group">
                        <label for="modeles">Choisis le modèle</label>
                        <select class=" form-control form-control-lg text-light bg-dark" id="modeles" name="modeles">
                            <option hidden selected value="placeholder"></option>
                            {% for row in modeles %}
                            <option value="{{ row.id_model }}">{{ row.name_model }}</option>
                            {% endfor %}
                        </select><br>
                    </div>
                    <div class="form-group">
                        <label for="status">Choisis le status</label>
                        <select class="form-control-lg form-control text-light bg-dark" id="status" name="status">
                            <option hidden selected value="placeholder"></option>
                            {% for row in status %}
                            <option value="{{ row.id_status }}">{{ row.name_status }}</option>
                            {% endfor %}
                        </select><br>
                    </div>
                </div>

            </form>
            <input class="btn btn-outline-info" form="form" type="submit" value="Enegistrer">
            <a class="btn btn-outline-danger" onclick="history.back(-1)" type="button">Annuler</a>

        </div>
    </div>
</div>
{% endblock %}

