{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouvel enregistrement
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.sn.label }}<br>
						{{ form.sn(size=32 , class="form-control form-control-lg") }}<br>
						{% for error in form.sn.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
					<p>
						{{ form.fk_model.label }}<br>
						{{ form.fk_model(size=32 , class="form-control form-control-lg") }}<br>
						{% for error in form.fk_model.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
					<p>
						{{ form.fk_status.label }}<br>
						{{ form.fk_status(size=32 , class="form-control form-control-lg") }}<br>
						{% for error in form.fk_status.errors %}
							<span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

