{% extends "base.html" %}
{% block title %} Affichage des modèles {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Modèle
            </p>
            <table class="table table-responsive-sm table-sm">
                {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        id
                    </th>
                    <th class="align-middle">
                        Nom
                    </th>
                    <th class="align-middle">
                        Secteur
                    </th>
                    <th class="align-middle">
                        Date d'achat
                    </th>
                    <th class="align-middle">
                        Date garantit
                    </th>
                    <th class="align-middle">
                        Description
                    </th>
                    <th class="align-middle">
                        Quantité
                    </th>

                </tr>
                </thead>
                {% endif %}

                {% for row in data %}
                <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_model or "-" }}
                    </td>
                    <td class="align-middle">
                        {{ row.name_model or "-" }}
                    </td>
                    <td class="align-middle">
                        {{ row.name_sector or "-" }}
                    </td>
                    <td class="align-middle">
                        {{ row.bought_date_model or "-" }}
                    </td>
                    <td class="align-middle">
                        {{ row.guarantee_date_model or "-" }}
                    </td>
                    <td class="align-middle">
                        {{ row.description_model or "-" }}
                    </td>

                    <td class="align-middle">
                        {{ row.quantite_model or "-" }}
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-outline-warning" href="{{ url_for('model_edit', id = row.id_model) }}"
                           role="button">Edit</a>
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-outline-danger" href="{{ url_for('model_delete', id = row.id_model) }}"
                           role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
                {% else %}
                <tbody>
                <tr>
                    <td>
                        Aucunes données
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            <div class="d-grid gap-2">
                <a class="btn btn-lg btn-outline-info" href="{{ url_for('modele_ajouter') }}" role="button"
                   type="button">Ajouter</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

