{% extends "base.html" %}
{% block title %} Supp status {% endblock %}
{% block body %}'
<div class="container">
   <div class="row">
       <div class="col-md-12">
           {% if not data %}
           <form action="{{ url_for('status_delete', id=id) }}" id="form" method="POST" novalidate>
               <input class="btn btn-outline-danger" form="form" type="submit" value="Supprimer">
               <a class="btn btn-outline-warning" onclick="history.back(-1)" type="button">Annuler</a>
           </form>
           {% else %}
            <p>
               Tu ne peux pas supprimé !!!
           <br></p>
           <p>
               Regarde t'es donées liée !!!
           </p>
           <table class="table table-responsive-sm table-sm">
            <thead>
            <tr>
                <th class="align-middle">
                    id
                </th>
                <th class="align-middle">
                    Status de l'appareil
                </th>
                <th class="align-middle">
                    Serial number
                </th>

            </tr>
            </thead>
            {% for row in data %}
            <tbody>
            <tr>
                <td class="align-middle">
                    {{ row.id_status or "-" }}
                </td>
                <td class="align-middle">
                    {{ row.name_status or "-" }}
                </td>
                <td class="align-middle">
                    {{ row.serial_number_device or "-" }}
                </td>
            </tr>
           {% endfor %}
            </tbody>
           </table>
           <a class="btn btn-outline-danger" onclick="history.back(-1)" type="button">Annuler</a>
           {% endif %}
       </div>
   </div>
</div>
{% endblock %}
