{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Status
			</p>
            <table class="table table-responsive-sm table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_status }}
						</td>
						<td class="align-middle">
							{{ row.name_status }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-outline-warning" href="{{ url_for('status_edit', id = row.id_status) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-outline-danger" href="{{ url_for('status_delete', id = row.id_status) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucunes données
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
			<div class="d-grid gap-2">
				<a class="btn btn-lg btn-info" type="button" href="{{ url_for('customer_ajouter') }}" role="button">Ajouter</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

