{% extends "base.html" %}
{% block title %} Empreint Edit {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Ajouter un nouvel enregistrement
            </p>
            <form action="{{ url_for('use_edit', id=id) }}" id="form" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="form-group">
                        <label for="device">Choisis le modèle</label>
                        <select class="form-control-lg form-control text-light bg-dark" id="device" name="device">
                            {% for row in model %}
                            {% if row.id_model == used_model.fk_model %}
                            <option selected value="{{ row.id_model }}">{{ row.name_model }}</option>
                            {% else %}
                            <option value="{{ row.id_model }}">{{ row.name_model }}</option>
                            {% endif %}
                            {% endfor %}
                        </select><br>
                    </div>
                    <div class="form-group">
                        <label for="customer">Trouve ton client</label>
                        <select class="form-control-lg form-control text-light bg-dark" id="customer" name="customer">
                            {% for row in customer %}
                            {% if row.id_customer == used_customer.fk_customer %}
                            <option selected value="{{ row.id_customer }}">{{ row.first_name_customer }} {{
                                row.last_name_customer }}
                            </option>
                            {% else %}
                            <option value="{{ row.id_customer }}">{{ row.first_name_customer }} {{
                                row.last_name_customer }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select><br>
                    </div>
                    <p>
                        {{ form.date_start_use.label }}<br>
                        {{ form.date_start_use(type = "date" , class="form-control form-control-lg is-invalid bg-dark
                        text-light" if form.date_start_use.errors else "form-control form-control-lg bg-dark
                        text-light") }}<br>
                        {% for error in form.date_start_use.errors %}
                        <span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.date_end_use.label }}<br>
                        {{ form.date_end_use(type = "date" , class="form-control form-control-lg is-invalid bg-dark
                        text-light" if form.date_end_use.errors else "form-control form-control-lg bg-dark text-light")
                        }}<br>
                        {% for error in form.date_end_use.errors %}
                        <span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.reason_end_use.label }}<br>
                        {{ form.reason_end_use(size=32 , class="form-control form-control-lg is-invalid bg-dark
                        text-light" if form.reason_end_use.errors else "form-control form-control-lg bg-dark
                        text-light") }}<br>
                        {% for error in form.reason_end_use.errors %}
                        <span class="badge text-light bg-danger" style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>

                </div>
                <input class="btn btn-outline-info" form="form" type="submit" value="Enegistrer">
                <a class="btn btn-outline-danger" onclick="history.back(-1)" type="button">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

